#livesearch_search_results {
        margin:0px;
        padding:5px !important;
        position: absolute;
        top: 35px;
        left: 0px;
        background-color: #c2c0c0;
        list-style-type: none;
        z-index: 12;
        width:203px;
        border-radius:5px;
}
#livesearch_search_results li {
        padding: 0px;
		overflow:hidden;
        border-radius:5px;
}
#livesearch_search_results a,
#livesearch_search_results a:visited,
#livesearch_search_results a:hover {
        color: #fff;
        text-decoration: none;
        font-size:11px;
        }
#livesearch_search_results a {
	display:block; padding:5px;	float:left;
    color:#fff
}
#livesearch_search_results a:hover {
        color: #FFF;
}
#livesearch_search_results li:hover {
        background-color: #73d612;
}
#livesearch_search_results .highlighted a {color:#fff}
#livesearch_search_results .highlighted {
        background-color: #73d612;
}
#livesearch_search_results li img {
	overflow:hidden;
	float:left;
	margin-right:10px;
}
#livesearch_search_results li img.loading {
	background:#fff;	
}
