/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slideshow {
	margin-bottom:15px;
	}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
	border-radius:5px;
	}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */

.nivo-caption a.button:hover {
	background-position:0 bottom
	}
.nivo-caption {
	position:absolute;
	left:56px;
	top:47px;
	width:320px;
	z-index:8;
	display: none;
	text-align:right;
	color:#999999;
	line-height:22px;
}
.nivo-caption h1 {margin:0; padding:0px; text-transform:none; font:normal 70px/70px 'Open Sans'; color:#6a6a6a}
.nivo-caption h2 {padding:0px; text-transform:none; font:300 20px/25px 'Open Sans'; color:#999999; margin:10px 0 14px ; text-transform:uppercase;}
.nivo-caption h3 {margin:-6px 0 5px; padding:0px; text-transform:none; font:300 28px/35px 'Open Sans'; color:#a6a6a6; display:block; overflow:hidden; text-transform:capitalize;}
.nivo-caption h3 span {font-weight:bold}
.nivo-caption a.button {
	display:inline-block !important;
	background:url(../images/button-2.png) repeat-x left top #6bd311;
	font:15px/19px 'Open Sans'; 
	color:#ffffff;
	text-transform:uppercase;
	padding:11px 14px;
	border:0px;
	margin-top:13px;
	border-radius:5px;
	}
.nivo-caption p {
	padding:0px;
	text-transform:uppercase;
	}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding:0;
	width:230px;
	float:left;
	background:url(../images/bg-nav.png) repeat-x left top #f3f3f3;
	height:421px;
	position:absolute;
	top:0px; 
	right:0px;
	z-index:6;
	overflow:hidden;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.nivo-controlNav>a.active, .nivo-controlNav>a:hover {
	background:#e8e8e8
	}
.nivo-controlNav>a {
	cursor:pointer;
	display:block;
	text-align:left;
	height:86px;
	width:196px;
	text-decoration:none;
	position:relative;
	background:url(../images/bg-nav-a.png) repeat-x left top #e8e8e8;
	border-radius:14px;
	margin:15px 0 0 16px
}
.nivo-controlNav a img {
	width:210px;
	height:85px;
	position:absolute;
	top:0px;
	left:25px;
	}
.nivo-controlNav a span.short_desc {
	display:block;
	overflow:hidden;
	background:url(../images/marker-nav.png) no-repeat 14px 17px;
	padding:20px 0 20px 60px
	}
.nivo-controlNav a img {
	border:1px solid #e6e4e4;
	border-radius:4px;}

.nivo-controlNav a span{display:none}
.nivo-controlNav a h1 {margin:0; font:28px/30px 'Open Sans';padding:0px;text-transform:none; color:#6a6a6a}
.nivo-controlNav a h2 {margin:0; font:300 11px/15px 'Open Sans';padding:0px;text-transform:none; color:#999999; text-transform:uppercase;}
.nivo-controlNav a p, .nivo-controlNav a h3 {display:none}

