html {
	margin: 0;
	padding: 0;
}
body {
	width:100%;
}
html, body 
{
	margin:0;
	padding:0;
	height:100%;
}
.btn {
  background: #1f2021;
  background-image: -webkit-linear-gradient(top, #1f2021, #32b82b);
  background-image: -moz-linear-gradient(top, #1f2021, #32b82b);
  background-image: -ms-linear-gradient(top, #1f2021, #32b82b);
  background-image: -o-linear-gradient(top, #1f2021, #32b82b);
  background-image: linear-gradient(to bottom, #1f2021, #32b82b);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-weight: bold;
  border: 0;
  margin-bottom: 5px;
}

.btn:hover {
  background: #3cfc3c;
  background-image: -webkit-linear-gradient(top, #3cfc3c, #1a1b1c);
  background-image: -moz-linear-gradient(top, #3cfc3c, #1a1b1c);
  background-image: -ms-linear-gradient(top, #3cfc3c, #1a1b1c);
  background-image: -o-linear-gradient(top, #3cfc3c, #1a1b1c);
  background-image: linear-gradient(to bottom, #3cfc3c, #1a1b1c);
  text-decoration: none;
}
.border-1{  border-radius:4px; background:#FFF; border:1px #99CC00 solid; box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09); }
.margin-10-top{ margin-top:10px; }
body 
{
	color: #7f7f7f;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background:url(../images/bg.png) repeat left top #fbfbfb;
	font-size:12px;
	line-height:18px;
	min-width:1024px;
}
td, th, input, textarea, select, a {
	font-size: 12px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a {
	color: #7f7f7f;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input:focus, textarea:focus, select:focus {
	outline:none;
}
input[type='text'], input[type='password'], textarea {
	background:#fff;
	padding:4px 3px 4px 3px;
	margin-left: 0px;
	margin-right: 0px;
	font-size:11px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	height:14px;
}
select {
	padding:3px 3px 4px 3px;
	font-size:11px;
	
	margin:0;
}
label {
	cursor: pointer;
	color:#191919;
}
.fleft {
	float:left;
}
.fancybox {
	text-decoration:none;
}
.fancybox:hover {
	text-decoration:underline;
}
.account-success #content p {
	margin-bottom:5px;
}
.wrapper {
	width:100%;
	overflow:hidden;
}
.addthis_button_facebook_like{ margin-right:20px; margin-left:5px; }  
.extra-wrap {
	overflow:hidden;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
/*********************************************************************************borders*************************************************************************************/
 input[type='text'], input[type='password'], textarea, select,.return-list,  .account-transaction table.list {
	border:1px solid #D9D9D9;
}
.category-info, .product-list ul li, .product-info .description, .product-info .review, .table-radius {
	
}
.box .box-heading, .breadcrumb, table.list td, .category-info, .manufacturer-heading, .product-info .description, .product-info .price, .product-info .review, .compare-info td, .table-radius, .wishlist-product tbody td, .wishlist-product thead td, .heading-order-list, .cart-info thead td, .cart-info tbody td, .cart-total table td, .about-page, .cart-total-name, .checkout-product thead td, .checkout-product tbody td, .checkout-product tfoot td, #confirm .checkout-heading, .attribute td  {
}
table.list, .product-list .right, .table-radius {

}
table.list, .checkout-product td, table.list td, .wishlist-product td, .product-info .review, .compare-info td, .cart-info thead td, .cart-info tbody td, .cart-total-name, .attribute td  {
	border:1px solid #D9D9D9 !important;
}
/***************************************************************************font***********************************************************************************/
.pagination .results, #module_cart table.total td, #idTab1 p, .htabs a.selected, .box-product.box-subcat .name.subcatname a, #module_cart .cart .name a, .information .info-facebook a, .information .info-about1 a,.manuf-p a, .manuf-p a b, .manuf-p a:hover b {
	font-size:12px;
}
/********************************************************************************back to top******************************************************************************/
#back-top {
	position: fixed;
	bottom: 30px;
	z-index:9999;
	left:50%;
	margin-left:600px;
}
#back-top a:hover {
	color:#79ec3e;
}
#back-top span {
	width:42px;
	height:26px;
	display: block;
	margin-bottom: 7px;
	background:url(../images/up-arrow.png) no-repeat left 0px;
}
#back-top a:hover span {
	background-position:left bottom;
}
/*****************************************************************************************h******************************************************************************/
h1 {
	color: #292929;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
	margin:15px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
h2 {
	color:#73d612;
	font-size:14px;
	margin-top: 0px;
	margin-bottom:10px;
	font-weight:normal;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
}
/***********************************************************************************header-style**********************************************************************************/
.bg-1 {
	overflow:hidden;
	width:100%;
	background:url(../images/bg-1.png) repeat-x left top;
	}
.main-container {
	
}
.main-shining {

	}
.header-modules {
	position:relative;
	z-index:1;
	width:1024px;
	margin:0px auto 0px;
	
}
/* layout */
#container {
	width:1024px;
	margin:0 auto;
	text-align: left;
	}
#column-left {
	float: left;
	width:229px;
}
#column-right {
	float: right;
	width:229px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left:240px;
}
#content {
	
	}
.common-home #content {
	
	margin:0;
	background:none;
	border:0
	}
#column-right + #content {
	margin-right:240px;
}
/* header */
.outer {
	width:1024px;
	margin:0px auto 0;
	position: relative;
	}
.row-1 {}
.outer {
	width:1024px;
	margin:0 auto;
	}
#header {
	position: relative;
	color:#9d9d9d;

}
#header #logo a,#header #logo a img {display:block;}
#header #logo {
	float:left;
	margin:30px 0 37px 0;
}
#language {
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
}
.header-top1 {
	float:right;
	}
/************************************************************************************banner******************************************************/
.banner {
	margin-bottom:13px;
	}
.banner>div:first-child {margin-left:0px;}
.banner>div {
	margin-left:12px;
	float:left;
	}
.banner>div img, .banner>div a{
	display:block
	}
.banner>div img {
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	}
.banner>div img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	}
/************************************************************************************currency******************************************************/
#currency {
	color: #6e6e6e;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	margin-left:20px;
}
#currency span {
	display:none;
}
#currency a+a {margin-left:15px;}
#currency a {
	text-decoration:none;
	
	float:left;
	
}
#currency a span {
	display:block;
	text-decoration: none;
	text-align:center;
	color:#b8b8b8
	}
#currency a:hover span, #currency a .act {
	text-decoration: none;
	cursor:default;
	color:#73d612;
	font-weight:bold;
	}
#currency a:hover span {cursor:pointer}
#currency a span.act  {cursor:default}
/*********************************************************************************************header-cart*******************************************************************************************/
#header #cart .heading b {
	color:#6e6e6e;
	display:block;
	}
#header #cart .heading {
}
.cart-position {
	float:right;
	margin:30px 0 37px;
	background:url(../images/cart-bg.png) repeat left top #f6f6f6;
	position:relative;
	border-radius:5px
}
.cart-inner #cart-item {
	display:block;
	background:url(../images/item-bg.png) repeat-x left top #6cd311;
	border-radius:50%;
	position:absolute;
	top:8px;
	left:33px;
	line-height:20px;
	min-width:20px;
	text-align:center;
	color:#ffffff;
	}
.cart-inner {
	float:right;
}
#cart {
	float:right;
	position:relative;
}
#header #cart .heading span.cart-icon {
	position:absolute;
	left:16px;
	top:6px;
	background:url(../images/cart-icon.png) no-repeat;
	width:46px;
	height:44px;
	padding:0;
	margin:0;
	}
.latest-added {
	border-bottom: 1px solid #D9D9D9;
	display: block;
	padding: 0 0 10px 10px;
}
.heading a strong{font-weight:normal;}
.heading a {
	text-decoration:none;
	display:block;
	color:#bbbbbb;
	line-height:19px;
	font-size:12px;
	background:url(../images/cart.png) no-repeat 11px 16px;
	padding:11px 18px 12px 68px;
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	}
#header #cart .content {
	clear: both;
	padding:8px 0 8px 0;
	display: none;
	position: absolute;
	top:55px;
	background:#fff;
	z-index:99999;
	width:235px;
	float:right;
	box-shadow:1px 1px 5px #b0b0af;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	right:0px;
}
#header #cart.active .content {
	display: block;
}
#header #cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
	overflow:hidden;
}
#header #cart .cart td.price {
	font-size:12px;
	font-weight:600;
	line-height:12px;
}
#header #cart .cart td.total {
	font-size:12px;
	font-weight:600;
}
#header #cart .cart td.name a:hover {
	text-decoration:underline;
}
#header #cart .cart td.name a {
	text-decoration:none;
	font-size:11px;
	line-height:17px;
	margin-top:0px;
	display:inline-block;
}
#header #cart .cart td .total {
	font-size:11px;
	font-weight:bold;
	color:#000;
}
#header #cart .cart td .total .quantity {
}
#header #cart .cart td.name {
	padding-left:10px;
}
#header #cart .cart .item-cart-1 td {
	padding-top:0;
}
#header #cart .cart td {
	color: #000;
	vertical-align: top;
	padding:8px 0px 10px 5px;
}
#header #cart .cart .image {
	width: 1px;
	padding-left:8px;
}
.cart tr {
	background:url('../images/tail-tr.gif') left bottom repeat-x #fff;
	padding-bottom:20px;
}
.cart-module .cart tr {
	background:none;
}
#header #cart .cart .image img {
	text-align: left;
}
#header #cart .cart .name small {
	color: #666;
}
#header #cart .cart .quantity {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#a6a4a4;
	text-transform:uppercase;
}
#header #cart .cart td.total {
	font-size:12px;
	font-weight:600;
	color:#c81908;
	text-align: right;
}
.cart-module .remove img:hover {
	overflow:hidden;
	margin-top:-11px;
}
.cart-module .cart .remove img {
	float:left;
}
.cart-module .cart .remove span {
	width:11px;
	height:11px;
	overflow:hidden;
	display: inline-block;
}
.cart-module .cart .remove {
	width:20px;
	text-align:center!important;
	padding-top:8px;
}
.cart-module .cart .remove img {
	cursor: pointer;
}
#header #cart .cart .remove img:hover {
	overflow:hidden;
	margin-top:-11px;
}
#header #cart .cart .remove img {
	float:left;
}
#header #cart .cart .remove span {
	width:11px;
	height:11px;
	overflow:hidden;
	display: inline-block;
}
#header #cart .cart .remove {
	text-align:right;
	padding-right:8px;
}
#header #cart .cart .remove img {
	cursor: pointer;
}
#header #cart table.total {
	border-collapse: collapse;
	font-size:11px;
	padding: 5px 10px 5px 10px;
	margin-top:5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#header #cart table.total tr {
	padding:0px 10px 0px 10px;
}
#header #cart table.total td b {
	color:#a6a4a4;
	font-size:11px;
	font-weight:bold;
}
#header #cart table.total td {
	color: #3A3738;
	padding-left:5px;
	padding-right:10px;
	text-align:left
}
#header #cart table.total td .t-price {
	font-size:11px;
	font-weight:bold;
}
#header #cart .content .checkout {
	text-align: right;
	clear: both;
	padding-right:8px;
	padding-bottom:0px;
	padding-top:5px;
}
#header #cart .empty {
	padding-top:20px;
	text-align: center;
	padding-bottom:20px;
}
/****************************************************************************************************************************************************************************************/
.banner-top {
	background:url(../images/banner-top.png) no-repeat left top;
	width:417px;
	height:61px;
	margin:30px 26px 0 0;
	float:right;
	}
/****************************************************************************************************************************************************************************************/
#button-register {margin-top:10px}
.toprow {
	background-color:#fcfcfc;
	padding:14px 0;
	}
#header #welcome {
	color:#b8b8b8;
	float:right;
	}
#header #welcome a {
	text-decoration:none;
	color:#73d612;
	margin:0 2px;
	}
#header #welcome a:hover {
	text-decoration:underline;
	}
/***************************************************************************************topmenu**********************************************************************************/
.topmenu {
	width:1024px;
	margin:0 auto 10px;
	background:url(../images/menu.png) repeat-x left top #f6f6f6;
	box-shadow:3px 2px 6px rgba(0,0,0,0.09);
	border-radius:5px
	}
.topmenu ul{
	width:780px;
	}
.topmenu>ul li:first-child a {border-radius:5px 0 0 5px}
.topmenu>ul li{
	float:left;
	background:url(../images/separator.png) no-repeat right;
	}
.topmenu>ul li>a{
	text-align:center;
	display:block;
	text-decoration:none;
	font-family:Open Sans;
	color:#999999;
	text-transform:uppercase;
	line-height:19px;
	padding:16px 0;
	width:119px;
	margin-right:2px;
	}
.topmenu>ul li>a.active, .topmenu>ul li>a:hover {
	background:url(../images/menu-hover.png) repeat-x left top #ececec;
	}
/***************************************************************************************search**********************************************************************************/
#search {
	position:relative;
	float:right;
	margin:10px 9px 0 0;
}
#search .button-search {
	background:url(../images/button-search.png) no-repeat left top;
	width:17px;
	height:18px;
	position:absolute;
	left:11px;
	top:8px;
	}
#search .button-search:hover {
	cursor:pointer;
	background-position:0 bottom
	}
#search input {
	float:left;
	border:0;
	color:#4b4b4c;
	background:url(../images/input-bg.png) no-repeat left top;
	padding:7px 8px 8px 33px; 
	width:172px;
	height:18px;
	line-height:18px;
	outline:none;
	}
/*******************************************************************************************************************************************************************************/
.box.cat-colum {
	margin-bottom:7px;
}
.product-filter .product-compare {
	padding:3px 0 0 10px;
}
.name a {
	font-size:12px;
	color:#8e8e8e;
	text-decoration:none;
	line-height:18px;
	text-transform:uppercase;
	}
.name a:hover {
	color:#73d612
}
.price {
	font-size:19px;
	color:#73d612;
	font-weight:normal
}
.price .price-new {
	color:#73d612;
}
.price .price-old {
	text-decoration:line-through;
	color:#b7b7b7;
	font-weight:normal;
	font-size:19px;
}
.box-product .price-old {
	margin-left:5px;
	}
.price-old {
	text-transform:uppercase;
	font-weight:normal;
	color:#b7b7b7;
}
/*********************************************************************************************************************************************************************************/
.icon-tools>div {
	position:relative;
	}
.icon-tools {
	text-align:center;
	float:right
	}
.icon-tools div.wishlist,.icon-tools div.compare {
	display:inline-block;
	}
.icon-tools div.wishlist>a {
	background:url(../images/wish-list.png) no-repeat left top;
	width:31px;
	height:31px;
	margin:0 0 0 0px
	}
.icon-tools div.wishlist>a:hover {background-position:0 bottom} 
.icon-tools div.compare>a {
	background:url(../images/compare.png) no-repeat left top;
	width:31px;
	height:31px;
	margin:0 0 0 8px
	}
.icon-tools div.compare>a:hover {background-position:0 bottom} 
.icon-tools .tooltip {
	left:0px;
	bottom:-31px;
	} 
.icon-tools .tooltip2 {
	left:-46px;
	bottom:-31px;
	} 
/*******************************************************************************new products**************************************************************************************/
.new-products ul li.first-in-line {
	clear:both;
}
/*******************************************************************************featured products*********************************************************************************/
.box.affiliate, .box.account {
	
	}
.box.affiliate .box-content,.box.account .box-content {
	padding:15px 20px 20px;
	background-color:#fff;
	margin-top:7px;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	}
#content .box .box-content .box-product {
	overflow:hidden;
	padding-bottom:7px;
	}
#content .box .box-content .box-product  ul li {
	float:left;
	width:187px;
	text-align:left;
	position:relative;
	margin-right:9px;
	}
.box .box-content .box-product  ul li {
	float:none;
	text-align:left;
	position:relative;
	border:1px solid #fff;
	margin-top:7px;
	margin-bottom:4px;
	background:#fff;
	border-radius:5px;
	overflow:hidden;
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.box .box-content .box-product ul li .f-left {
	float:left;
	}
.box .box-content .box-product ul li .cart {
	text-align:left;
	}
.box .box-content .box-product ul li .inner {
	background:url(../images/inner.png) repeat-x left top #fff;
	position:relative;
	padding:14px 12px 16px 17px;
	}
.box .box-content .box-product ul li .inner a.addToCart{
	width:37px;
	height:37px;
	float:right;
	background:url(../images/add-button.png) no-repeat left top;
	text-indent:-9999px;
	margin-right:2px;
	}
.box .box-content .box-product ul li .inner a.addToCart:hover {
	background-position:0 bottom;
	}
#content .box .box-content .box-product ul li.last-in-line {
	margin-right:0px;
}
#content .box .box-content .box-product ul li.first-in-line {
	clear:left;

}
.box.featured {
	margin-bottom:0px;
	}
.box .box-content .box-product .description {
	font:11px/15px Arial
}
/*********************************************************************leftinfo***************************************************************************************************/
#column-left .info li, #column-right .info li {
	padding: 0px 0 0px 0px;
	position: relative;
}

#column-left .info li a, #column-right .info li a, .afine li a, .acount li a {
    text-decoration: none;
	display:inline-block;
	text-transform:uppercase;
	font-size:12px;

}
#column-left .info li:first-child, #column-right .info li:first-child, .afine li:first-child, .acount li:first-child {border-top:0}
#column-left .info li, #column-right .info li, .afine li, .acount li {
	padding:5px 0 5px 15px;
	border-top:1px solid #e9e8e8;
	background:url(../images/marker-1.png) no-repeat left 10px;
}
#column-left .info li a + a, #column-right .info li a + a, .afine li a + a, .acount li a + a {
	padding-left:0;
	background:none;
}
#column-left .info li a:hover, #column-right .info li a:hover, .afine li a:hover, .acount li a:hover {
		color:#73d612
}
/********************************************************************************************************************************************************************************/
/********************************************************************************************************************************************************************************/
.box-filter .box-content {
	padding:20px;
	background-color:#fff;
	margin-top:7px; 
	border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	}
.box-filter .box-content .button {margin-top:10px}
/********************************************************************************specials*****************************************************************************************/
.breadcrumb a.last {
	color:#ffffff
}
.breadcrumb a {
	color:#ffffff;
	text-decoration:none;
}
.breadcrumb a:hover {
	color:#73d612;
}	
.breadcrumb {
	color: #ffffff;
	font-size: 15px;
	background:url(../images/heading-3.png) repeat-x left top #575656;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	padding:18px 25px;
	margin-bottom:7px;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.successmsg{ 
padding: 10px;
margin-bottom: 5px;
color: #333;
background: #EAF7D9 url('../images/success.png') 10px center no-repeat;
	border: 1px solid #D9D9D9;
        padding-left:30px;
}
.success {
	background: #EAF7D9 url('../images/success.png') 10px center no-repeat;
	border: 1px solid #D9D9D9;
        padding-left:30px!important;
}
.warning {
	background: #FFD1D1 url('../images/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	padding-left:30px!important;
}
.attention {
	background: #FFF5CC url('../images/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	cursor: pointer;
}
.required {
	color: #ff7409;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field {
	width:97%
}
select.large-field {
	width:100%;
}
.return-comment textarea {
	width:307px
}
table.list {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}
#payment-existing {
	margin-top:10px;
}
.checkout-product thead td .checkout-product thead td {
	text-align:center!important;
}
.checkout-content .buttons #button-payment {
	margin-top:10px;
}
.checkout-product td.price {
	font-size:12px;
}
.checkout-product td.total {
	text-align:center!important;
	color:#73d612;
	font-weight:bold;
	font-size:12px;
}
.return-remove .button:hover {
	color:#fff;
}
.return-remove .button {
	color:#FFF;
	padding:1px 5px 2px;
}
table.list td {
	
}
table.list thead td {
	background:url(../images/tail-manuf.gif) 0 0 repeat-x #F8F8F8;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
.pagination {
	display: inline-block;
	width: 100%;
	padding:10px 0px
}
.account-order .button-order-right {
	float:right;
	margin-top:-3px;
}
.account-order .pagination {
	
}
.pagination .links {
	float: left;
	margin-right:10px;
}
.pagination .links a {
	display: inline-block;
	padding: 4px 10px;
	text-decoration: none;
	color: #000;
	border:1px solid #cccccc;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.pagination .links a:hover {
	background:#fff;
	
}
.pagination .links b {
	display: inline-block;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color:#000000;
	background:#fff;
	border:1px solid #cccccc;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.pagination .results {
	float:left;
	color:#aaaaaa;
	margin:5px 0px;
}
/* button */
a.button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background: url('../images/button.png') repeat-x left top;
	font-size:12px;
	line-height:19px;
	border-radius:5px;
	 box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.09);
	}
a.button span {
	color: #fff;
	display: inline-block;
	padding:4px 14px;
	white-space:nowrap;
	font-size:11px;
	line-height:19px;
	text-transform:uppercase;
	font-weight:normal;
}
a.button:hover {
	background-position:0 bottom;
}
a.button:hover span {
	color:#fff;
}
/*****************************************************************************************************************/
/*****************************************************************************************************************/
.buttons {
	overflow: auto;
	margin: 20px 0 0;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right .mt {
	margin-top:10px
	}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#module_cart .content {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 2px 2px #DDDDDD;
	clear: both;
	display: none;
	min-height: 150px;
	padding: 8px;
	position: relative;
	top: -1px;
}
#module_cart.active .heading {
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	border-top: 1px solid #D9D9D9;
	margin-top: 5px;
	padding-bottom: 6px;
	padding-top: 10px;
}
#module_cart.active .content {
	display: block;
}
#module_cart .cart .name {
	padding-top:5px;
	padding-bottom:10px;
	padding-top:10px;
}
#module_cart .cart {
	border-collapse: collapse;
	margin-bottom:10px;
	width: 100%;
}
#module_cart .cart td .quantity {
	font-weight:bold;
	color:#a6a4a4;
}
#module_cart .cart td {
	border-bottom: 1px solid #D9D9D9;
	color: #4d4949;
	padding: 2px 3px;
	font-size:11px;
	vertical-align: top;
	font-weight:bold;
}
#module_cart .cart td a {
	font-weight:normal;
}
#module_cart .cart .image {
	display: none;
}
#module_cart .cart .image img {
	border: 1px solid #D9D9D9;
	text-align: left;
}
#module_cart .cart .name small {
	color: #666666;
	line-height: 14px;
}
#module_cart .cart td.quantity {
	color: #A6A4A4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	padding-top:0px;
	vertical-align:middle;
}
#module_cart .cart td.total {
	text-align: center;
	vertical-align: middle;
	color: #4d4949;
	font-size: 11px;
	font-weight:bold;
}
#module_cart .cart .remove {
	text-align: right;
	padding:2px 2px;
	vertical-align: middle;
}
#module_cart .cart .remove img {
	cursor: pointer;
}
#module_cart table.total {
	border-collapse: collapse;
	clear: left;
	float: right;
	margin-bottom:10px;
	padding: 5px;
}
.total-right {
	text-align:right!important;
}
#module_cart .total-left {
	padding-right:18px;
}
#module_cart table.total td b {
	font-size:11px;
	font-weight:bold;
	color:#A6A4A4;
}
#module_cart table.total td {
	color: #000;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:5px;
	font-weight:bold;
	text-align:left;
}
#module_cart .checkout .button {
	margin-bottom:10px;
}
#module_cart .checkout {
	clear: both;
	text-align: right;
}
#module_cart .empty {
	text-align:left;
	color:#393838;
	font-size:13px;
	line-height:17px;
	padding:5px 0;
}
.product-list #image {
	float: left;
	margin-top:0px;
	z-index: 0;
}
.product-grid #image {
	float: left;
	margin-top:0px;
	z-index: 0;
}
.home-block #image {
	float: left;
	margin-top:0px;
	z-index: 0;
}
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom:1px solid #D9D9D9;
}
.htabs a {
	background: #FFFFFF url('../images/tab.png') repeat-x;
	padding:6px 10px 6px 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #737373;
	margin-right:-1px;
	display: none;
	border:1px solid #D9D9D9;
	border-bottom:0
}
#idTab1 p {
	color:#191919!important;
	font-weight:normal!important;
	line-height:20px;
	margin-bottom:5px;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
	border-bottom:0;
	color:#191919;
	font-weight:bold;
	border-bottom:1px solid #ffffff
}
.tab-content {
	margin-top:-1px;
	padding: 16px 18px 10px 18px;
	z-index: 2;
	float:left;
	border:1px solid #D9D9D9;
	background:#fff;
	width:726px;
}
/* box */
.box {
	margin-bottom:10px;
}
.box .box-content.inform {
	padding:0px 0 0;
}
#content .box.cat .box-heading {
	background:url(../images/heading-3.png) repeat-x left top #575656;
	color:#fff;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	}
#column-left .box .box-heading {
	background:url(../images/heading-2.png) repeat-x left top #a0a0a0;
	color:#ffffff;
	}
.box .box-heading {
	font-size:18px;
	line-height:26px;
	font-weight:600;
	text-transform:uppercase;
	background:url(../images/heading.png) repeat-x left top #565555;
	color:#fff;
	padding:15px 26px;
	font-family: 'Open Sans', sans-serif;
	border-radius:5px;
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.box-shining {
	padding: 20px 0px 42px 30px;
	background:url(../images/box-shining.jpg) no-repeat;
}
.padd-both {
	padding:0 20px;
	text-align:left;
}
.box .box-nav2 .box-heading {
	background:url(../images/cat-heading.jpg) repeat-x #576a54;
	border-bottom:1px solid #D9D9D9;
	color:#FFF;
}
.tip:hover + .tooltip {
	display:block;
}
.tooltip {
	display:none;
}
.tooltip {
	border: 1px solid #D9D9D9;
	background-color: #fff;
	margin-left:5px;
	position: absolute;
	bottom:-20px;
	text-decoration: none;
	padding:4px 10px 4px 10px;
	left:-45px;
	opacity: 0.85;
	filter: alpha(opacity=85);
	z-index: 10;
}
.tip2:hover + .tooltip2 {
	display:block;
}
.tooltip2 {
	display:none;
}
.tooltip2 {
	border: 1px solid #D9D9D9;
	background-color: #fff;
	margin-left:0px;
	padding:4px 10px 4px 10px;
	position: absolute;
	bottom:-20px;
	text-decoration: none;
	color:#414141;
	opacity: 0.85;
	filter: alpha(opacity=85);
	z-index: 10;
	left:-5px;
}
.product-list .tooltip2 {
	border: 1px solid #D9D9D9;
	background-color: #fff;
	color:#414141;
	margin-left:35px;
	padding:4px 10px 4px 10px;
	position: absolute;
	bottom:-57px;
	text-decoration: none;
	opacity: 0.85;
	filter: alpha(opacity=85);
	z-index: 10;
}
.product-list .tooltip {
	border: 1px solid #D9D9D9;
	background-color: #fff;
	margin-left:5px;
	color:#414141;
	padding:4px 10px 4px 10px;
	position: absolute;
	bottom:-60px;
	text-decoration: none;
	opacity: 0.85;
	filter: alpha(opacity=85);
	z-index: 10;
}
.cart .tooltip2 {
	border: 1px solid #D9D9D9;
	background-color: #fff;
	color:#414141;
	margin-left:0px;
	padding:4px 10px 4px 10px!important;
	position: absolute;
	bottom:-32px;
	text-decoration: none;
	padding:4px 10px 4px 10px;
	font-size:12px!important;
	opacity: 0.85;
	filter: alpha(opacity=85);
	z-index: 10;
}
.cart .tooltip {
	border: 1px solid #D9D9D9;
	background-color: #fff;
	margin-left:5px;
	padding: 10px;
	color:#414141;
	position: absolute;
	bottom:-32px;
	text-decoration: none;
	font-size:12px!important;
	padding:4px 10px 4px 10px!important;
	opacity: 0.85;
	filter: alpha(opacity=85);
	z-index: 10;
}
/* box products */


.prod-stock {
	background: url('../images/stock-w.png') left 0px no-repeat;
	float: left;
	font-size: 12px;
	height: 38px;
	line-height: 12px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	text-align: center;
	width: 38px;
	color:#fff;
	font-weight:normal;
}
.box-product {
	width:100%;
	margin:0;
	padding:0;
}
.box_custom_image{ width:100%;
	margin:10px 0 0 0;
	padding:0; }
.box_custom_image a{ text-decoration:none; outline:none; width:100%; display:block; }
.box_custom_image a img{ width:100%; }	
.box-product.box-subcat {
	margin-top:0 !important
}
.LikePluginPagelet {
	width:150px;
}
.addthis_button_google_plusone {
	width:67px;
}
.addthis_button_tweet {
	width:70px;
	margin-right:10px;
	margin-left:7px;
}
.connect_widget_like_button {
	width:150px;
}
.box-product.box-subcat .name.subcatname {
	padding-top:4px;
}
.box-product.box-subcat .name.subcatname a {
	font-weight:bold;
	margin-bottom:0;
}
.box-content {
	
	}
#content .box .box-content {
	padding:0px;
	background:none
	}
#content .box .box-content .box-product ul li.cat-height  {
	margin-bottom:20px !important;
	width:242px;
	border:0px;
	padding:0px !important;
	box-shadow:none;
	border-radius:0
	}
.box-product.box-subcat li {
	width:214px;
	float:left;
	padding:10px;
}
.box-product.box-subcat li.last-in-line {
	margin-right:0;
}
.box-product.box-subcat li.first-in-line {
	clear:left;
}
.box-product.box-subcat li .image {
	overflow:hidden;
	float:left;
	margin-bottom:0px;
	margin-top:0px
	}
.box-product.box-subcat li img:hover {
	border:3px solid #73d612;
	}
.box-product.box-subcat li img {
	float:left;
	margin:0 10px 0 0;
	border:3px solid #D9D9D9;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#tab-related .image {
	float:none;
	padding:5px;
	width:80px;
	height:80px;
}
.prod-stock-2 {
	float:left;
	padding-top:13px;
	padding-right:10px;
}
.zoom-top img {
	opacity:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.left .zoom-top:first-child {
	margin-top:0px;
	position:relative;
	z-index:12;
}
.zoom-top:hover {
	-moz-transform:scale(1.05);/*When hover on images image size will increased*/
	-webkit-transform:scale(1.05);/*When hover on images image size will increased*/
	-webkit-transform:scale(1.05);/*When hover on images image size will increased*/
}
.zoom-top {
	width:30px!important;
	height:30px!important;
	background: url('../images/zoom.png') right 0px no-repeat;
	overflow:hidden;
	margin-bottom:-30px;
	margin-left:271px;
}
.box-product > li.tree-div {
	margin-right:0;
}
.box-product > li {
	width:176px;
	display: inline-block;
	vertical-align: top;
	margin-right:42px;
	margin-bottom:28px;
}
#module_cart .cart .name a {
	text-decoration:none;
	line-height:17px;
}
#module_cart .cart .name a:hover {
	text-decoration:underline;
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.short-description span {
	display:block;
	font-size:11px;
	color:#a5a4a4;
}
.box-product .image {
	display: block;
	margin:15px 0;
	text-align:center;
}
.box-product .image2 img{
	display:inline-block;
	}
.box-product .image2 {
	display: block;
	text-align:center;
	background:url(../images/bg-img.png) repeat-x left top #fff;
	text-align:center;
	padding:25px 0
}
.special-container1 .name {
	padding-bottom:7px;
}
.box-product.spec-box .cart {
	float:right;
	padding-top:6px;
}
.box-product img {
	vertical-align:top;
}
.box-product .name {
	margin:-3px 0 3px
	}
.box-product .name a {
	display: inline;
}
.box-product .price {
	text-align:left;
}
.box-product.spec-box .manufacturer {
	margin-left:-8px;
}
.box-product .rating {
	display: block;
	margin-top:7px;
	margin-bottom: 0px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-content .information li:first-child {
	margin-bottom:5px;
}
.box-content .information {
	padding:0!important;
}
.information {
	list-style:none;
	margin:0;
	padding:0;
}
.information li a {
	text-decoration:none;
	color:#333;
}
.information li a:hover {
	color:#960f02;
}
.information li:first-child {
	border:none;
}
.information .info-facebook a:hover, .information .info-about1 a:hover {
	color:#fff;
	opacity:0.8;
}
.information .info-facebook a {
	background:url(../images/facebook.gif) 0 0px no-repeat;
	font-weight:bold;
	color:#fff;
	display:block;
	padding:7px 5px 9px 38px;
}
.information .info-about1 a {
	background:url(../images/about.gif) 0 0px no-repeat;
	font-weight:bold;
	color:#fff;
	display:block;
	padding:7px 5px 9px 38px;
}
.afine {
	list-style:none;
	margin:0;
	padding:0;
}
.afine li:first-child, .acount li:first-child {
	border:0px
}
.afine li, .acount li {

}
.afine li a + a {
	background:none;
	padding-left:0;
}
.acount {
}
.acount {
	list-style:none;
	}
.content ul {
	list-style:none;
	margin:0;
	padding:0;
}
.content ul li a {
	text-decoration:none;
	color:#000000;
	line-height:normal;
}
.content ul li a:hover {
	color:#73d612;
}
.content ul li:first-child {
	border:none;
}
.content ul li {
	background:url(../images/marker-manuf.png) left 5px no-repeat;
	padding-left:22px;
	color:#3f3f3f;
	padding-bottom:4px;
	padding-top:4px;
}
.account-forgotten table.form tr td:first-child {
	width:87px;
}
.account-edit .content .form input {
	width:200px;
}
.account-edit table.form tr td:first-child {
	width: 73px;
	text-align:right
}
.account-password .content .form input {
	width:200px;
}
.account-password table.form tr td:first-child {
	width:118px;
	text-align:right
}
.wishlist-product td a {
	text-decoration:none;
}
.wishlist-product td {
	vertical-align: middle!important;
}
.box-category > ul > li + li {
}
.q2 {
	width:299px;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
}
/***********************************************************************category*************************************************************/
.box.category li{
	position:relative
	}
.box.category .box-heading {
	margin-bottom:7px;
	}
.box.category .box-content {
	padding:0px;
	
	}
.box-category > ul > li > a {
	display:inline-block;
	text-decoration:none;
	background:url(../images/cat-marker.png) no-repeat left 6px;
	text-transform:uppercase;
	padding-left:16px;
	}
.box-category > ul > li.active>a, .box-category > ul > li>a:hover {
	color:#73d612;
	
	}
.box-category > ul > li:first-child {border:0}
.box-category > ul > li {
	position:relative;
	padding:8px 0 8px 15px;
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	background:url(../images/cat-li.png) repeat-x left top #f3f3f3;
	line-height:18px;
	border-radius:4px;
	margin-bottom:1px;
}
.box-category > ul > li strong {
	display:none;
}
.box-category > ul > li:first-child {
	
}
.box-category > ul > li.last {
	border:none;
}
.box-category > ul > li ul {
	display:none;
	margin:13px 0 10px
}
.box-category > ul > li.active ul {
	display:block;
	
	
}
.box-category > ul > li span.expanded {background:url(../images/nolines_minus.png) left bottom no-repeat !important;}
.box-category > ul > li span.collapsed {background:url(../images/nolines_minus.png) left top no-repeat !important;}
.box-category > ul > li.active  span.close {background:url(../images/nolines_minus.png) left bottom no-repeat ;}
.box-category > ul > li.active li span.expanded {background:url(../images/nolines_minus.png) left bottom no-repeat !important;}
.box-category > ul > li.active li span.close {background:url(../images/nolines_minus.png) left top no-repeat !important;}
.box-category > ul > li.active li.active span.close {background:url(../images/nolines_minus.png) left bottom no-repeat !important;}
.box-category > ul > li.active li.active span.close.collapsed {background:url(../images/nolines_minus.png) left top no-repeat !important;}
.box-category > ul > li span.close {
	background:url(../images/nolines_minus.png) 0px 0px no-repeat;
	width:12px;
	height:12px;
	margin-right:0px;
	display:inline-block;
	margin-left:15px;
	position:absolute;
	right:10px;
	top:13px;
}
.box-category > ul > li li span.close {top:6px}
.box-category > ul > li span.close:hover {
	cursor:pointer;
}
.box-category > ul > li a.active {
	
	
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li.active > a, .box-category > ul > li ul > li > a:hover {
	color:#73d612;
}
.box-category > ul > li ul > li {
	padding:3px 0 3px 15px;
		}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: inline-block;
	font-size:12px;
	margin-bottom:0px;
	}
.box-category > ul > li ul > li > a.active {
	color:#73d612;
}
.box-category > ul > li:first-child {
	border-top:0
}
.act-cat {
	position:absolute;
	top:9px;
	right:6px;
}
/*************************************************************************************************************************************************************/

.info-about2, .info-about3, .info-about4 {
	display:none;
}
/* content */
#content .content {
	padding:0px;
	overflow: hidden;
	padding:0 0 20px;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.product-category .content {
}
.category-info {
	overflow: auto;
	margin-bottom: 11px;
	background-color:#fff;
	padding:20px;
	margin-top:7px;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	}
.category-info h1 {
	margin:0;
	border-bottom:1px solid #e9e8e8;
	padding-bottom:13px;
	margin-bottom:15px;
	}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	display:none;
}
#content .box.cat .box-content {
	background-color:#fff;
	padding:20px;
	margin-top:7px;
	 border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul li {
	background:url(../images/arrow.gif) 0px 5px no-repeat;
	padding-left:10px;
	margin-bottom:4px;
}
.category-list ul li a {
	text-decoration:none;
}
.category-list ul li a:hover {
	color:#ffa304;
}
.category-list ul {
	float: left;
	width:25%;
	list-style:none;
	padding:0;
}
.capcha {
	width:143px;
}
.sitemap-info ul li {
	background: url("../images/marker-1.png") no-repeat scroll left 9px transparent;
	color: #191919;
	padding-bottom: 4px;
	padding-left: 14px;
	padding-top: 4px;
	text-transform:capitalize;
}
.sitemap-info ul li a {
	color: #000000;
	line-height: normal;
	text-decoration: none;
	text-transform:capitalize;
}
.sitemap-info ul li a:hover {
	color:#73d612;
}
.sitemap-info ul {
}
.affiliate-login .login-content .right {
	height:265px;
}
.affiliate-login .login-content .left {
	background-position:right bottom;
	height:253px;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list a {
	text-decoration:none;
}
.product-manufacturer h1 {
	margin-bottom:10px;
}
.manuf-p {
	font-weight:bold;
	color:#191919;
	margin-bottom:16px;
}
.manuf-p a {
	text-decoration:none;
	font-weight:bold;
	color:#73d612;
}
.manuf-p a b {
	text-decoration:none;
	font-weight:bold;
	color:#43403d;
}
.manuf-p a:hover b {
	font-weight:bold;
	color:#73d612;
}
.manufacturer-list {
	overflow: auto;
	margin-bottom:10px;
	border:1px solid #D9D9D9;
}
.manufacturer-heading span {
	background:url(../images/tail-manuf-al.gif) 0px 0px repeat-x #383838;
	display:inline-block;
	font-size:12px;
	color:#fff;
	font-weight:bold;
	padding:3px 6px 3px 7px;
	
}
.manufacturer-heading {
	background:url(../images/tail-manuf.gif) 0px 0px repeat-x #f8f8f8;
	font-size: 15px;
	font-weight: bold;
	padding:3px 8px 4px 4px;
	margin-bottom: 6px;
	border-bottom:1px solid #D9D9D9;
}
.manufacturer-content {
	padding:12px 8px 9px 20px;
	overflow:hidden;
}
.manufacturer-list ul li {
	background: url("../images/marker-manuf.png") no-repeat scroll left 5px transparent;
	color: #191919;
	padding-bottom: 4px;
	padding-left: 22px;
	padding-top: 4px;
}
.manufacturer-list ul li a:hover {
	color:#73d612;
}
.manufacturer-list ul li a {
	color: #000000;
	font-size: 14px;
	line-height: normal;
	text-decoration: none;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
.box.manufacturers {}
.box.manufacturers li:first-child {border-top:0}
.box.manufacturers li {
	padding:5px 0;
	border-top:1px solid #D9D9D9
	}
.box.manufacturers li a {
    display: inline-block;
    text-decoration: none;
	}
.box.manufacturers li a:hover {
	color:#73d612;
	}
/* product */
.product-filter {
	background:#e9eaea;
	padding:14px 22px; 
	overflow: auto;
	margin-bottom:0px;
	 background: url("../images/heading-3.png") repeat-x scroll left top #575656;
    color: #FFFFFF;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	}
.product-filter .display {
	float:right;
	color: #fff;
	height:24px;
}
.display ul li.list a {
	background-position: -27px 0;
}
.display ul li a {
	background: url(../images/grid.jpg) no-repeat left top transparent;
	cursor: pointer;
	display: block;
	float: left;
	height: 26px;
	line-height: 28px;
	margin-right: 2px;
	overflow: hidden;
	text-indent: -9999px;
	width: 27px;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort b {
	padding-right:7px;
	font-weight:bold;
	font-size:11px;
}
.product-filter .sort select {
	width:140px;
}
.product-filter .sort {
	float:left;
	color: #fff;
	font-size:11px;
	font-weight:bold;
}
.product-filter .limit select {
	width:72px;
}
.product-filter .limit b {
	padding-right:5px;
}
.product-filter .limit {
	margin-left: 13px;
	float:left;
	color: #fff;
	font-size:11px;
	font-weight:bold;
}
.product-compare {
	padding:0;
	font-weight:normal;
	margin-bottom:0px;
	font-size:12px;
	float:left;
}
.product-filter .product-compare a:hover {
	color:#73d612
}
.product-filter .product-compare a {
	text-decoration: none;
	font-size:12px;
	color:#fff
}
.product-list .left {
	overflow:hidden;
}
.product-list .right {
	float: right;
	text-align:left;
	min-height:164px;
	width:120px;
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #e9e8e8
}
.product-list ul li:first-child {margin-top:0; padding-top:0; border-top:0;}
.product-list ul li {
	overflow:hidden;
	border-top:1px solid #e9e8e8;
	margin-top:20px;
	padding-top:18px;
}
.product-list .image {
	float: left;
	margin-right:20px;
}
.product-list .name {
	margin-bottom:10px;
}
#list_b {
	background: url("../images/list_a.png") no-repeat scroll 0 top transparent;
	display: inline-block;
	height:16px;
	margin-left:8px;
	margin-right:5px;
	width:16px;
	float:left;
	margin-top:4px;
}
#grid_a {
	background: url("../images/grid_a.png") no-repeat scroll 0 bottom transparent;
	display: inline-block;
	height:16px;
	text-indent: -9999px;
	width:16px;
	float:left;
	margin-top:4px;
}
.product-filter .display b {
	float:left;
	padding-top:3px;
	font-size:11px;
	font-weight:bold;
}
#list_a {
	background: url("../images/list_a.png") no-repeat scroll 0 bottom transparent;
	display: inline-block;
	height:16px;
	margin-left:8px;
	margin-right:5px;
	text-indent: -9999px;
	width:16px;
	float:left;
	margin-top:4px;
}
#grid_b {
	background: url("../images/grid_a.png") no-repeat scroll 0 top transparent;
	display: inline-block;
	height:16px;
	width:16px;
	margin-top:4px;
}
.product-list .description {
	overflow:hidden;
	margin-bottom: 5px;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float:left;
	margin-bottom:20px;
}
.product-list .price-old, .product-list .price-old {
	font-weight:normal;
}
.product-list .price-tax {
	font-size: 11px;
	color:#414141;
	font-weight: normal;
	padding-top:5px;
	display:block;
}
.product-list .cart {
	margin-bottom:10px;
}
.product-list .wishlist, .product-list .compare {
	position:relative;
	}
.product-list .wishlist a {
}
.product-list .compare a {
}
.product-grid {
	margin-top:7px;
	overflow:hidden;
	}
.product-list {
	margin-top:7px;
	background-color:#fff;
	padding:20px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.product-grid ul li {
	float:left;
	width:168px;
	text-align:left;
	position:relative;
	margin-bottom:7px;
	margin-right:7px;
	padding:10px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.product-grid ul li.first-in-line {
	clear: left;
}
.product-grid ul li.last-in-line {
	margin-right:0px;
}
.extra-prod input {
	padding-bottom:4px;
}
.extra-prod {
	padding-top:6px;
}
.or {
	padding-top:3px;
}
#tab-related .box-product > div {
	width:100px;
	float:left;
	margin-right:20px;
}
.wishlist a:hover {
	background: url(../images/iconimage.png) no-repeat 0px -27px;
}
.addtowishlist, div.wishlist > a {
	float: left;
	background: url(../images/iconimage.png) no-repeat 0px 0px;
	height: 27px;
	overflow: hidden;
	text-indent: -9999px;
	width:27px;
	}
.compare a:hover {
	background: url(../images/iconimage.png) no-repeat -34px -27px;
}
.addtocompare, div.compare > a {
	background: url(../images/iconimage.png) no-repeat -34px 0px;
	float: left;
	height:27px;
	overflow: hidden;
	text-indent: -9999px;
	width:27px;
	margin-left:3px;
	margin-right:3px;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin:0 0 15px 0;
	text-align:center;
}
.product-grid div:hover .image img {
}
.product-grid .image img {
}
.product-grid .name {
	text-align:left;
	min-height:36px;
	padding:0px 0px 5px;
}
.product-grid .name a, .product-list .name a {
}
.product-grid .description {
	height:33px;
	overflow:hidden;
	margin-bottom:10px;
	padding:0 0px;
}
.product-grid .price {
	
	}
.product-grid .rating {
	display: block;
	height:13px;
	margin-bottom:10px;
	
}
.product-list .price, .product-grid .price {
	display: block;
	min-height:30px;
	margin-bottom:0px;
}
.product-list .price br {display:none}
.product-list .price {
	margin-bottom:10px;
	line-height:normal;
}
.product-grid .price-old {
	text-decoration: line-through;
}
.product-grid .price-old, .product-grid .price-new {display:inline-block !important}
.product-list .price-new, .product-grid .price-new {
	display:block;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .price-old {
	font-weight:normal;
	margin-left:10px;
}
.product-grid .cart {
	float:left;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 0px;
	margin-top:0px;
	float:right;
	position:relative;
}
.product-grid .tooltip, .product-grid .tooltip2 {
	bottom:28px;
}
/* Product */
.product-info {
	padding-bottom:7px;
	margin-top:7px;
	background-color:#fff;
	padding:10px;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.product-info .wrapper .left {
	float: left;
	margin-right: 15px;
	padding:6px 6px 2px 6px;
	margin-left:1px;
	background:#f7f7f7;
	position:relative;
	z-index:1;
}
.product-info .indent-bot {
	margin-bottom:20px;
}
.product-info > .left + .right h1 {
	padding-left:0;
}
.product-info > .left + .right {
	margin-left:370px;
}
#image {
	z-index:0;
	float:left;
	margin-top:-300px;
}
.product-info .image {
	float: left;
	width:300px;
	height:300px;
	margin-bottom:7px;
	text-align: center;
}
.product-info .image-additional {
	width:300px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional li {
	float:left;
	margin:0 15px 0 0px;
}
.product-info .image-additional li.last {
	margin-right:0;	
}
#cloud-zoom-big {
	margin-top:3px;
}
.product-info .image-additional img {
	background:#FFF;
}
#zoom1 img {
	background:#FFF;
}
.product-info .image-additional a {
	display: block;
	float:left;
}
.image-caroucel .jcarousel-clip {
	width:300px;
}
.product-info .image-additional.image-caroucel li {
	margin:0 5px;	
}
.image-caroucel .jcarousel-prev  {
	position:absolute;
	width:15px;
	height:15px;
	left:0;
	top:40%;
	background:url(../images/image-caroucel-prev.png) -11px 50% no-repeat #73d612;
}
.image-caroucel .jcarousel-next  {
	position:absolute;
	width:15px;
	height:15px;
	right:0;
	top:40%;
	background:url(../images/image-caroucel-next.png) 6px 50% no-repeat #73d612;
}
.image-caroucel .jcarousel-prev.jcarousel-prev-disabled, .image-caroucel .jcarousel-next.jcarousel-next-disabled {
	background-color:#3A3637 !important;
	cursor:default !important
}
.image-caroucel .jcarousel-next:hover, .image-caroucel .jcarousel-prev:hover  {
	background-color:#3A3637;
	cursor:pointer;
	background-color:#3A3637;
}
.padd-avalib {
	padding:13px 0px 15px;
}
.product-info .description {
	padding:15px 5px 10px 0px;
	line-height: 20px;
	font-weight:normal;
}
.product-info .description a {
	text-decoration:none;
}
.product-info .description strong {
	color:#A6A4A4;
	font-weight:bold;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif
}
.product-info .description span.price-old {
	margin-left:10px;
	}
.product-info .description span {
	font-weight:bold;
}
.product-info .description span.error {
	color:#f00;
}
.product-info .description a:hover {
	color:#73d612
}
.product-info .description .button-prod:hover {
	background-position:0 bottom;
	text-decoration:none;
	color:#fff;
}
.product-info .description .button-prod a {
	font-weight:normal;
	text-decoration: none;
}
.product-info .price .price-old, .product-info .price .price-new {display:inline}
.product-info .price {
	background:#F7F7F7;
	padding:10px 20px;
	font-size:22px;
	float:none;
	min-height:inherit;
	border-radius:5px
}
.product-info .price-old {
	text-decoration: line-through;
	color:#A6A4A4;
	font-weight:normal;
	font-size:17px;
}
.product-info h1 {
	padding-left:0;
	line-height:30px;
	margin:0
}
.product-info .price-new {
	font-size:22px;
	font-weight:normal;
}
.product-info .description .button-prod {
	background:url(../images/button-2.png) repeat-x left top;
	cursor: pointer;
    color: #fff;
    float: left;
    font-size: 15px;
	font-family:Open Sans;
    line-height: 21px;
    margin:0 10px 0;
    margin-top: 0;
    padding:10px 10px;
    text-decoration: none;
	text-transform:uppercase;
	font-weight:normal;
	border-radius:5px;
}
.price-prod-page {
	font-size:22px;
	font-weight:normal;
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	padding-left:7px;
}
.product-info .price .reward {
	font-size: 13px !important;
	font-weight: normal;
	color: #999;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options h2{margin-top:10px}
.product-info .options {
	border-bottom: 1px solid #D6D3CC;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #D9D9D9;
	cursor: pointer;
}
.cart-top-padd {
	padding-top:10px;
	float:left;
}
.product-info .cart {
	padding:16px 5px 0px 0px;
	overflow:hidden;
	color: #f1f1f1;
	overflow: auto;
}
.prod-row {
	padding-bottom:20px;
}
.product-info .cart .cart-top label {
	font-size:11px;
	font-weight:bold;
	color:#191919;
	padding-right:7px;
}
.product-info .cart .cart-top .input-qti {
	width:42px;
}
.product-info .cart div {
	float: left;
}
.product-info .cart div.extra-button {
	margin-top:7px
}
.product-info .cart div > span {
	padding-top: 7px;
	color: #999;
}
.cart-top {

}
.extra-button {
	position:relative;
	margin-top:0px;
}
.product-info .cart .minimum {
	padding-bottom:10px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review .a1 {
	margin-top:-5px;
	display:inline-block
}
.product-info .review img {
	float:left;
	margin-top:3px;
}
.product-info .review {
	color: #4D4D4D;
	margin-bottom:3px;
}
.product-info .review .share {
	background:none;
	padding-top:20px;
	padding-left:0;
}
.product-info .review > div {
	padding:7px 10px 9px 10px;
	line-height: 20px;
	background:#F7F7F7;
}
.btn-rew {
	float:right!important;
	font-size:12px;
	color:#dfe1e4
}
.btn-rew a + a {
	color:#000;
}
.btn-rew a {
	text-decoration:underline;
	font-size:12px;
	color:#A6A4A4;
	font-weight:normal;
}
.btn-rew a:hover {
	text-decoration:none;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: hidden;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #191919;
	font-size: 12px;
	font-weight: bold;
	background: #fcfcfc;
	text-align: left;
}
.attribute tr td:first-child {
	color: #737373;
	font-weight: bold;
	text-align: right;
	width:12%;
}
.attribute td {
	padding: 7px 12px 7px 12px;
	color: #73d612;
	text-align:left;
	vertical-align: top;
}
#tab-review #captcha {
	margin-top:10px;
}
#tab-review .pagination .results {
	margin:5px 0px;
	}
#tab-review .pagination {
	padding:0px 10px 0 0;
	}
#tab-review b {
	display:inline-block;
	padding-bottom:4px;
	font-size:12px;
	font-weight:bold;
	color:#737373;
}
#tab-review .input-rew {
	width:180px;
	margin-bottom:10px;
}
#tab-review textarea {
	margin-bottom:5px;
	height:80px;
	resize:none
}
#tab-review .buttons {
	padding-left:0;
	margin-bottom:0;
}
#tab-review .buttons .right .button:hover span {
	color:#FFF;
}
#tab-review .buttons .right {
	float:left;
}
.bb_rew {
	float:left;
	padding-top:3px;
	padding-right:12px;
}
.bb-2 {
	clear:both;
	margin-bottom:5px;
}
.input-rew-capcha {
	width:170px;
}
#tab-review h2 {
	margin-bottom:10px;
}
#review .content {
	font-size:12px;
	
	margin-bottom:3px;
}
#review .content p {
	font-weight:normal;
	color:#737373;
}
.related .box-product {
	padding:0;
	width:auto;
}
.compare-info {
	
	width: 100%;
	
}
.block-compare {
	position:relative;
	overflow:hidden;
}
.compare-info thead {
	overflow:hidden;
}
.compare-info td.last-1 {
	border-bottom:0;
}
.compare-info thead td {
	background:url(../images/tail-manuf.gif) 0 5px repeat-x #fff;
	overflow:hidden;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #191919;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}
.compare-info tr td.et:first-child {
	background:#f9f9f9;
}
.compare-info tr td:first-child {
	color: #191919;
	font-weight: bold;
	text-align: right;
}
.td-price {
	font-weight:bold;
	font-size:16px;
}
.checkout-product {
	
}
.compare-info .prod-stock {
	margin:0 auto;
	float:none;
}
.compare-info td.name a {
	text-decoration:none;
	font-size:12px;
	line-height:17px;
}
.compare-info td.name a:hover {
	
}
.compare-info td.last {
	border-right:0;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #737373;
	text-align: center;
	vertical-align: top;
}
.compare-info .price-old {
	font-weight: normal;
	color: #9f9f9f;
	text-decoration: line-through;
	display:block;
	font-size:17px;
}
.compare-info td.td-price {
	font-weight: normal;
	font-size:22px;
	color:#73d612;
	line-height:normal
}
/* wishlist */
.wishlist-product table {
	width: 100%;
	border-collapse: collapse;
}
.table-radius .buttons {
	margin-bottom:0;
	border-right: 1px solid #D9D9D9;
	background:url(../images/tail-wislish-bottom.gif) 0px 0px repeat-x #f8f8f8;
	padding:9px 9px 11px 12px;
}
.table-radius {
	overflow:hidden;
	
}
.wishlist-product td {
	padding: 7px 7px 6px 10px;
}
.wishlist-product thead td {
	color:#191919;
	font-weight: normal;
	text-transform:uppercase;
}
.wishlist-product .prod-stock {
	background: url(../images/stock-w.png) left 0 no-repeat;
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	height:38px;
	padding-left:5px;
	padding-right:5px;
	line-height: 12px;
	padding-top:10px;
	text-align: center;
	width:38px;
}
.wishlist-product {
	margin-bottom:25px;
}
.wishlist-product .button-up:hover {
	background-position:-22px;
}
.wishlist-product .button-up {
	font-size:12px;
	border:1px solid #D9D9D9;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	height:22px;
	padding:3px 7px 4px 8px;
	background: url(../images/tail-but.gif) left 0 repeat-x;
	line-height:22px;
	height:22px;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align:left;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align:left;
	font-size:14px;
}
.wishlist-product tbody td {
	vertical-align: top;
}
.wishlist-product tbody td.action {
	width:100px;
	text-align:center;
}
.wishlist-product tbody .remove {
	vertical-align: middle;
}
.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name {
	text-align:left;
	padding-left:20px;
	width:200px;
}
.wishlist-product tbody .model {
	text-align: center;
	color:#242424;
}
.wishlist-product tbody .stock {
	text-align: center;
	color:#242424;
}
.wishlist-product tbody .stock .prod-stock {
	margin-left:15px;
}
.wishlist-product tbody .quantity {
	text-align: right;
}
.wishlist-product tbody .price {
	text-align: center;
	font-size:17px;
}
.wishlist-product tbody .price b {
	font-weight:normal;
}
.wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #a6a4a4;
	display:block;
	font-weight:normal;
}
.content b {
	display:inline-block
}
.login-content .content {
	border:none!important;
	padding:0!important;
}
.login-content {
	width:100%;
	overflow:hidden;
	padding:7px;
}
.box-container {
	background-color:#fff;
	padding:5px 20px 20px;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.login-content .left p + p {
	margin-bottom:16px;
}
.login-content .left p {
	margin-bottom:10px;
	line-height:17px;
}
.login-content .left h2 {
	color:#73d612;
	margin-bottom:3px;
}
.login-content .right h2 {
	margin-bottom:3px;
}
.login-content .left .content {
	margin-bottom:0!important;
}

.checkout-content.opt .left , .login-content .left {
	float: left;
	padding:0 20px 12px 20px;
	width:44%;
	padding-top:15px;
	background:url('../images/login-content-left.gif') right bottom no-repeat #ffffff;
	height:265px;
	border:1px solid #D9D9D9;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
	
}

.checkout-content.opt .right, .login-content .right {
	float: right;
	padding:0 0 0 20px;
	width:45%;
	padding-top:15px;
	height:277px;
	background:url('../images/login-content-right.gif') 0 0px no-repeat #f8f8f8;
	border:1px solid #D9D9D9;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.link-login {
	font-size:12px;
	color:#73d612;
	text-decoration:underline;
	padding-top:1px;
	margin-bottom:15px;
	display:inline-block;
}
.link-login:hover {
	text-decoration:none;
}
.padd-form {
	display:block;
	padding-bottom:5px;
}
#login .q1 {
	width:95%;
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
.login-content .right .content p {
	margin-bottom:15px;
}
.login-content .right .content b {
	display:block;
}
#register select {
	width:308px;
}
#register .q1 {
	width:300px;
}
#register .content {
	border:none!important;
	padding:0!important;
}
/* orders */
.order-list, .return-list {
	 border: 1px solid #D9D9D9;
    margin-bottom: 10px;
	
}
.heading-order-list {
	background: url(../images/tail-manuf.gif) 0 0 repeat-x #F8F8F8;
	padding:6px 12px 5px 10px;
	overflow:hidden;
	 border-bottom: 1px solid #D9D9D9;
}
.order-list .order-id span, .order-list .order-status span, .order-list .order-content div .or-price, .return-list .return-id span, .return-list .return-status span, .return-list .return-content div .or-price {
	color:#73d612
}
.order-list .order-id, .return-list .return-id {
	width: 49%;
	float: left;
	color:#191919;
	font-size:12px;
	font-weight:bold;
}
.order-list .order-status, .return-list .return-status {
	font-weight:bold;
	font-size:12px;
	color:#191919;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content, .return-list .return-content {
	padding:16px 20px 13px 20px;
	display: inline-block;
	width:702px;
}
.order-list .order-content div > span {
	color:#33210e;
}
.order-list .order-content div .button {
	margin-top:3px;
}
.order-list .order-content div b, .return-list .return-content div b {
	font-weight:normal;
}
.order-list .order-content div, .return-list .return-content div {
	line-height:17px;
	color:#191919;
	float: left;
	width: 33.2%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-box-2 {
	
	padding:15px 20px 19px 20px;
	margin-bottom:10px;
}
.return-box-2 .buttons .right {
	float:left;
}
.return-box-2 .buttons {
	padding-left:0;
	padding-top:12px;
	padding-bottom:0;
	margin-bottom:0;
}
.return-box {
	
}
.return-p {
	padding-left:17px;
}
.return-p p {
	margin-bottom:13px;
}
.return-list {
	margin-bottom: 10px;
}
#content .content.return-box {
	padding:14px 10px 11px 20px;
	margin-bottom:10px;
}
.content.return-box h2 {
	margin-bottom:14px;
}
#content .content.return-box .left {
	width:320px;
}
#content .content.return-box .right {
	width:320px;
}
.content.return-box label {
	font-size:12px;
	font-weight:bold;
	color:#737373;
}
.content.return-box span {
	color:#ff7409;
}
.content.return-box input {
	margin-top:6px;
	margin-bottom:7px;
	width:310px;
}
.content.return-box .error {
	padding-bottom:5px;
	display:block;
}
.return-box-3 {
	margin-bottom:20px;
	
	padding:14px 10px 10px 20px;
}
.return-box-3 h2 {
	margin-bottom:15px;
}
.return-box-3 textarea {
	width:310px;
	height:188px;
	max-width:310px;
	max-height:188px;
}
.return-box-3 .return-captcha {
	width:320px;
	margin-top:-3px;
}
.return-box-3 .return-captcha b {
	padding-bottom:6px;
	display:block;
}
.return-box-3 .return-captcha input {
	width:170px;
	margin-bottom:10px;
}
.return-box-3 .return-additional {
	margin-bottom:11px;
}
.return-box-3 .buttons {
	padding:0;
	margin-bottom:0;
}
/* button */
.button-return-right:hover {cursor:pointer; color:#73d612}
.button-return-right{
	border:0px;
	background: url("../images/marker-button-right.png") no-repeat scroll right 9px transparent;
	font-weight:bold;
	color: #000000;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2em;
	font-family:arial;
	padding:5px 14px
	}

a.button-return-left, a.button-return-right, a.button-order-right, a.button-cont-right, a.button-back-left, a.button-inf-left {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-weight:bold;
	padding-right:0px;
}
a.button-order-right {
	padding:0;
}
a.button-return-left:hover span, a.button-return-right:hover span, a.button-order-right:hover span, a.button-cont-right:hover span, a.button-back-left:hover span, .wishlist-product a.button-wislish-left:hover span, a.button-inf-left:hover span {
	color:#73d612;
}
a.button-return-left span, a.button-return-right span, a.button-order-right span, a.button-cont-right span, a.button-back-left span, .wishlist-product a.button-wislish-left span, a.button-inf-left span {
	color: #000000;
	line-height:1.2em;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
}
a.button-return-left span, a.button-back-left span, a.button-wislish-left span {
	padding:5px 0px 5px 14px;
	background: url('../images/marker-button-left.png') left 8px no-repeat;
}
a.button-return-right span, a.button-order-right span, a.button-cont-right span, a.button-inf-left span {
	padding:5px 14px 5px 0px;
	background: url('../images/marker-button-right.png') right 8px no-repeat;
}
/* button */



.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}

.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 33.3%;
}
.return-model {
	float: left;
	width: 33.3%;
}
.return-quantity {
	float: left;
	width: 33.3%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 33.3%;
}
.return-opened {
	float: left;
	width: 33.3%;
}
.return-opened textarea {
	max-width: 85%;
	min-height:100px;
	vertical-align: top;
}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {
	float: right;
	width: 33.3%;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	border-collapse: collapse;
}
a {
	outline:none;
}
.shop-cart {
	border-bottom:none;
	overflow:hidden;
	position:relative;
	
}
.cart-info td {
	padding:7px 7px 6px 8px;
}
.cart-info thead td {
	color: #191919;
	font-weight: bold;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align:left;
}
.cart-info thead .name, .cart-info thead .model {
	text-align:left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align:left;
	font-family:Arial;
	font-size:12px;
}
.cart-info tbody td {
	vertical-align: middle;
}
.cart-module {
}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name a {
	
	line-height:17px;
}
.cart-info tbody .name a:hover {
	
}
.cart-info tbody .name {
	text-align: left;
}
.cart-info tbody .model {
	text-align:center;
	color:#242424;
}
.cart-info tbody .price, .cart-info tbody .total {
	font-size:17px;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align:center;
	width:75px;
}
tbody .total {
	font-weight:bold;
	color:#333333;
	}
#shipping select {
	width:258px;
}
#shipping input {
	width:250px;
}
#shipping {
	margin-bottom:10px;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module .cart-heading {
	border-top:none;
	padding:7px 8px 6px 25px;
	font-weight: bold;
	font-size: 12px;
	color: #191919;
	cursor: pointer;
	background: #fafafa url('../images/arrow-right.png') 10px 55% no-repeat;
}
.cart-bottom {
	border-top:none;
	margin-bottom:20px;
	overflow:hidden;
}
.cart-module .active {
	background: #F8F8F8 url('../images/arrow-down.png') 9px 60% no-repeat;
}
.cart-heading-tail {
}
#shipping select {
	width:234px;
	float:left;
}
#shipping input {
	width:226px;
	float:left;
	margin:0;
}
#shipping td {
	text-align:right;
	font-size:11px;
	font-weight:bold;
	color:#aaaaaa;
	padding-right:5px;
	padding-bottom:8px;
}
.cart-module .cart-content {
	padding:18px 0px 19px 18px;
	display: none;
	overflow: auto;
	border-top:none;
	
}
.cart-info {
	overflow:hidden;
	margin:20px 0;
}
#coupon {
	font-weight:bold;
	color:#73d612;
	font-size:11px;
}
#coupon a {
	font-weight:normal;
}
#coupon input {
	width:230px;
	margin-left:5px;
	margin-right:5px;
}
.cart-content input {
	width:230px;
	margin-left:5px;
	margin-right:5px;
}
#voucher .form textarea {max-width:300px; width:300px}
#voucher {
	font-weight:bold;
	color:#73d612;
	font-size:11px;
}
#voucher input {
	float:left;
	clear:left;
}
#voucher label {
	float:left;
	margin:1px 0 0 0;
}
#voucher .right input {
	float:none;
}
.cart-content p {
	font-weight:bold;
	font-size:12px;
	color:#E52234;
	margin-bottom:15px;
}
.cart-total table {
	border-collapse: collapse;
	background:#fff;
}
.cart-total table td {
	padding:6px 10px 6px 10px;
	font-weight:bold;
	color:#4d4949;
}
.cart-total table td b {
	font-family:Arial, Helvetica, sans-serif;
}
.cart-total table {
	width:100%;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
#cboxLoadedContent .about-page-2, #cboxLoadedContent .about-page {
	padding:20px 25px;
	}
.about-page h3 {
	font-size:15px;
	font-weight:600;
	color:#191919;
	margin:0;
	padding-bottom:13px;
}
.about-page-2 {
	
}
.about-page-2 h3 {
	font-size:15px;
	font-weight:600;
	color:#191919;
	padding-bottom:13px;
	margin-bottom:0px
}
#cboxLoadedContent h1 { margin:15px 15px 0;}
.about-page p {
	font-size:12px;
	color:#737373;
	line-height:17px;
	margin-bottom:12px;
}
.about-page-2 p {
	font-size:12px;
	color:#737373;
	line-height:17px;
	margin-bottom:12px;
}
.about-page ul li {
	font-weight:bold;
	color:#626060;
	font-size:12px;
	margin-bottom:4px;
	background:url('../images/marker-1.png') 0px 5px no-repeat;
	padding-left:12px;
}
/* button */


/* checkout */
.checkout #checkout {
	border-top:1px solid #D9D9D9;
	}
.checkout {
    background-color:#fff;
	padding:15px 25px
	}

.checkout-content.opt .left h2 {
	color:#73d612;
	padding-bottom:0px;
}
.checkout-content.opt .right h2 {
	padding-bottom:0;
}
.checkout-content.opt .right a {
	color:#73d612;
}
.checkout-content.opt .left {
	
}
.checkout-content.opt .right {
	
}
.checkout-heading {
	border-bottom:none;
	padding:7px 8px 7px 0px;
	font-weight: bold;
	font-size: 12px;
	color: #191919;
	border:1px solid #D9D9D9;
	border-top:0px;
}
.marker-chekout {
	background: url(../images/marker-chekout.png) 9px 6px no-repeat;
	padding-left:28px;
}
.checkout-heading a {
	float: right;
	margin-top:-15px;
	font-weight: normal;
	text-decoration: none;
}
.cart-total-name {
	color:#191919;
	width:87%;
}
.cart-total1 {
	font-size:17px;
	font-weight:bold;
	text-align:center;
}
.tot {
	
}
.cart-total td.cart-total1.last {
	color:#333333;
}
.cart-total td.last {
	border-bottom:none;
}
.checkout-heading a:hover {
	color:#43403d;
	text-decoration:underline;
}
.checkout-content h2 {
	padding-bottom:12px;
}
.checkout-content {
	padding:20px 20px 15px 20px;
	display: none;
	overflow: auto;
	border-bottom:none;
	border:1px solid #D9D9D9;
	border-top:0px
	
}
#payment-address-existing {
	margin-top:1px;
	margin-right:5px;
	float:left;
	margin-left:0
}
#payment-address-new {
	margin-top:1px;
	margin-right:5px;
	float:left;
	margin-left:0
}
.p1 {
	padding-bottom:12px;
}
.checkout-content .left label {
	margin-right:12px;
	width:150px;
}
.checkout-content .left #register {
	float:left;
	margin-right:5px;
}
.checkout-content .left b {
	margin-top:2px;
	float:left;
}
.checkout-content .left #guest {
	float:left;
	margin-right:5px;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.login-padd {
	padding-top:12px;
}
.checkout-content .right input.d1 {
	width:90%;
	margin-top:5px;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons .right input {
	position:relative;
	top:2px;
}
.checkout-content .buttons {
	clear: both;
	margin-bottom:0;
}
.checkout-product table b {
	color:#191919;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	background: url(../images/bg-cart-image.png) 40px 90% no-repeat;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color:#191919;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align:center;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align:center;
	color:#000;
	font-weight:normal;
}
.checkout-product tbody td {
	vertical-align: top;
}
.checkout-product tbody .name {
	text-align:left;
}
.checkout-product tbody .model {
	text-align:center;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align:center;
}
.checkout-product tfoot td {
	text-align: right;
}
.contact-info {
	overflow: auto;
	padding:5px 20px 19px 18px;
	margin-bottom:10px;
	background-color:#fff;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.contact-form-left {
	width:50%;
	float:left;
	margin-bottom:4px;
}
.contact-form-right {
	width:50%;
	float:left;
}
.content.contact-f h2 {
	margin-bottom:13px;
}
.content.contact-f .q2 {
	width:95%;
}
.padd-content {
	padding-bottom:6px;
}
.content.contact-f textarea {
	resize:none;
	height:142px;
	margin-bottom:6px;
}
.cap-p {
	margin-bottom:10px;
	margin-bottom:0;
}
.content.contact-f .capcha {
	width:172px;
}
#content .contact-info .content {
	margin-bottom:0;
}
.map-left {
	float:left;
	width:55%
}
.map-content figure iframe {
	border:none;
}
.map-content figure {
	margin:0;
	padding:0;
	overflow:hidden;
}
.map-content {
	width:45%;
	height:243px;
	float:right;
	overflow:hidden;
}
.contact-box {
	width:270px;
	padding-top:7px;
	background:url('../images/adress.png') left 4px no-repeat;
	padding-left:93px;
	line-height:17px;
	margin-bottom:18px;
}
.contact-box b {
	font-size:15px;
	font-weight:600;
	color:#191919;
}
.contact-box-2 {
	width:270px;
	padding-top:7px;
	background:url('../images/telephon.png') left 6px no-repeat;
	padding-left:93px;
	line-height:17px;
}
.contact-box-2 b {
	font-size:15px;
	font-weight:600;
	color:#191919;
}
.sitemap-info ul {
	margin-top:10px;
}
.sitemap-info li a {
	text-decoration:none;
}
#content .content.contact-f {
	background:url('../images/bg-contact-form.gif') left bottom repeat-x #ffffff;
	padding:20px;
	border-radius:5px;
	 box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}
.content.contact-f .buttons {
	padding:10px 10px 0 0;
	margin-bottom:0px;
}
.content.contact-f .buttons .button {
	margin-top:10px;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
#newsletter .content {
	margin:0;
	padding:0;
	border:none;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
#newsletter .form tr td:first-child {
	width:58px;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */
#footer .cont {
	margin-bottom:20px;
	line-height:22px;
	color:#b2b2b2
	}
#footer .cont span {
	display:block;
	font-size:19px;
	line-height:normal;
	color:#73d612;
	}
.footer-wrap {
	clear:both;
	overflow:hidden;
	margin:26px 0 0px;
	background:#78d813;
}
#footer {
	clear: both;
	overflow: hidden;
	min-height: 80px;
	padding:23px 0px 25px 73px
}
#footer h3 {
	font-size:12px;
	color:#FFFFFF;
	text-transform:uppercase;
	line-height:20px;
	margin:0 0 20px;
	font-weight:600;
}
#footer .column.col-4 {
	margin-right:0px;
	width:150px
		}
#footer .column.col-2{
	width:285px
	}
#footer .column.col-3{
	width:260px
	}
#footer .column {
	float: left;
	width:253px;
	min-height:110px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left:0px;
	padding-left:0px;
	list-style:none;
}
#footer .column ul li:first-child {
	border-top:0;
	}
#footer .column ul li {
	list-style:none;
	}
#footer .column a {
	text-decoration: none;
	color:#333333;
	font-size:12px;
	line-height:20px;
	}
#footer .column a:hover {
	color:#666666;
}
#powered a {
	text-decoration:none;
	color:#cbcbcb;
	font-size:12px;
}
#powered a:hover {
	color:#73d612;
	text-decoration:none;
}
#powered {
	border-top:1px solid #f5f5f5;
	font-size:12px;
	color:#cbcbcb;
	width:1024px;
	margin:55px auto 0px;
	padding:20px 0px;
	}
.socials {display:inline-block; vertical-align:top;}
.socials li {float:left; margin-left:11px; margin-top:-2px;}
.socials li a {width:25px; height:25px; display:block;}
.socials li a.twi { background:url(../images/social-twi.png) no-repeat left top;}
.socials li a.fb { background:url(../images/social-fb.png) no-repeat left top;}
.socials li a.g { background:url(../images/social-g.png) no-repeat left top;}
.socials li a:hover {opacity:0.8; filter:alpha(opacity=80)}
/***********************************************************************************tooltips*************************************************************************************************************/
#easyTooltip {
	padding:5px 10px;
	border:1px solid #D9D9D9;
	background:#3f3f3f;
	color:#fff;
	font-size:11px;
	text-transform:none;
	position:relative;
	z-index:99;
	font-weight:bold;
}
/********************************************************************************************************************************************************************************************************/
/* banner */
input#sub_category, input#description {
	position:relative;
	top:2px;
}
.product-search .content select {
	padding-bottom:3px;
}
.product-search h2 {
	padding:10px 0px 0;
}
.welcome-box img {
	float:right;
	margin-top:-90px;
	margin-right:20px;
}



/* AJAX Add to Cart Confirm by Harryo*/
.success, .warning, .attention, .information, .rev-success {
	padding: 10px 10px 10px 10px;
	margin-bottom: 5px;
	color: #555;
}
.success a, .warning a, .attention a, .information a {
	color: #333;
}
#cart-success {
	position: fixed;
	z-index:9998;
}
.success .close {
}
.success {
	color:#000
}
.success a:hover {
	text-decoration:none;
}
.success a {
	text-decoration:underline;
	color:#43403d
}
.success span:hover img {
	margin-top:-11px;
}
.success p {
	margin-bottom:11px;
	font-size:24px;
	color:#1b1b1b;
}
.success span {
	width:11px;
	height:11px;
	overflow:hidden;
	position:absolute;
	right:8px;
	top:8px;
}
.success {
	width:170px;
	position:fixed;
	z-index:99999!important;
	left:50%;
	box-shadow:0.2em 0.2em 0.2em 3px rgba(122, 122, 122, 0.5);
	-webkit-box-shadow:0.2em 0.2em 0.2em 3px rgba(122, 122, 122, 0.5);
	top:50%;
	padding:10px 28px 15px 18px;
	margin-left:-85px;
	margin-top:-70px;
	z-index:9999;
	line-height:18px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:none;
	background:#fff;
	display:none;
	font-size:14px;
}
#wrap {
	z-index:10!important;
}
.rev-success {
	background: #EAF7D9 url('../images/success.png') left no-repeat;
	border: 1px solid #D9D9D9;
	padding-left:20px;
}
.mousetrap .related-info:hover {
}
.related-info .name {
	min-height:36px;
	margin-bottom:0px;
}
.related-info .price {
	
}
.related-info {
	display: inline-block;
	vertical-align: top;
	float:left;
}
/**************************************************************related****************************************************************/
.related-info:hover {
}
.related-info .price {
	position:relative;
	margin:2px 0 10px
}
.related-info:first-child {
	margin-left:0px;
	}
.related-info {
	display:inline-block;
    float: left;
    text-align: left;
    width:169px !important;
	background-color:#fff;
	padding:10px;
	margin-left:7px;
	margin-bottom:7px;
	border-radius: 5px 5px 5px 5px;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.09);
}
.jcarousel-container li.related-info:last-child {border-right:0px;padding-right:0px;}
.jcarousel-container li.related-info{
	margin-left:0;
	}
.related-carousel .related-info {
	margin-right:7px;
}
.related h1 {
	margin:0px 0px 20px
	}
.related {
	overflow:hidden;
	
	}
.related.related-carousel .box-product {
	overflow:hidden;
	width:auto;
}
.related-info .rating {
	height:13px;
	margin-top:0px;
	display:none;
}
.related .jcarousel-clip {
	overflow:hidden;
	margin:0 0px;
}
.related .jcarousel-next-disabled, .related .jcarousel-prev-disabled {display:none; visibility:hidden}
.related .jcarousel-prev {
	display:block;
	position:absolute;
	height:41px;
	width:41px;
	left:0px;
	top:40%;
	background:url(../images/related-pagg-prev.png) -18px 50% no-repeat #2E2E2E;
	cursor:pointer;
	border-radius: 5px 5px 5px 5px;
	}
.related .jcarousel-prev:hover {
	background:url(../images/related-pagg-prev.png) -18px 50% no-repeat #73d612;
}
.related .jcarousel-next {
	display:block;
	position:absolute;
	height:41px;
	width:41px;
	right:0px;
	top:40%;
	background:url(../images/related-pagg-next.png) no-repeat 18px 50% #2E2E2E;
	cursor:pointer;
	border-radius: 5px 5px 5px 5px;
}
.related .jcarousel-next:hover {
	background:url(../images/related-pagg-next.png) no-repeat 18px 50% #73d612;
}

/******************************************************************************************************************************************/
/*************************************************************************updated cart****************************************************/
.mt5 {
	margin-top:5px;
}
.cart-info tbody .quantity > input {
	width:45px;
	margin-top:5px;
}
#content .shop-cart-content {
    border: 1px solid #D9D9D9;
 
    padding: 15px;
    position: relative;
    z-index: 1;
}
#content .shop-cart-content > p {
	color:#73d612;
	font-weight:bold;
}
.checkout-cart h2 {
	font-size:20px;
	line-height:24px;
	color:#191919;
	padding:20px 0;
}
#content .cart-module > div {
	display:block;
	border:1px solid #D9D9D9;
	padding:15px;
	border-top:none;
	margin-bottom:0;
	margin-top:-3px;
	position:relative;
	z-index:0;
        clear: none;
	
}
#content .cart-module .error {
	clear:left;
	float:left;
	font-weight:normal;
}
.cart-module #voucher input {
	float:none;
	width:230px;
	margin:0 5px;
}
.cart-bottom {
	border-bottom: medium none;
    border-left: medium none;
    border-right: medium none;
    margin: 15px 0px;
}
.cart-total table td.cart-total1 {
    border: 1px solid #D9D9D9;
    font-weight: bold;
    padding: 6px 10px;
}
.cart-bottom .buttons {
	
}
.shop-cart-content .highlight label {
	font-weight:bold;
}
#confirm .checkout-content {
	border-bottom: 1px solid #D9D9D9;
	
}
#shipping-method textarea, #payment-method textarea {
	min-height:80px;
	font-family:Arial, Helvetica, sans-serif;
	resize:none;
}
/*****************************************************************************************************************************************/
/******************************************************************************************************************************************/
#colorbox {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.preview {
	padding:15px;
	width:700px;
}
.preview .marg { margin-bottom:25px;}
.preview .price { width:100%; overflow:hidden;}
.preview .price span { float:left; margin-right:10px;}

.preview .right .inf span { display:block;margin-bottom:10px;}
.preview .left {
	float:left;
	padding-right:20px;
}
.preview .right .inf span.text-price { margin-left:0;}
.preview .right h2 {
    font-size: 20px;
    margin-bottom: 20px;
	line-height:normal;
}
.preview .right {
	float:left;
	width:50%;
}
.preview .inf .prod-stock {
    margin-bottom: 10px;
}
.preview .description {
	height:160px;
	padding:15px;
	overflow:auto;
	border:1px solid #D9D9D9;
}
.preview .cart { float:left;}
.preview .extra-button { float:left; width:145px; margin-top:0px; margin-left:15px;}
.preview .tip:hover span { display:block; text-indent:0; bottom:27px; left:0;}
.preview .tip2:hover span { display:block; text-indent:0; bottom:27px; left:0;}
#cboxContent #cboxTitle {
	width:60%;
	padding:0 20%;
}
#colorbox { z-index:100  !important;}
#cboxOverlay { z-index:100 !important;}
.preview .rating { margin-top:15px;}
.featured ul li .image2 {
    position: relative;
}
.box .box-content .box-product ul li .quick-view-button {
    display: none;
    left:25%;
    position: absolute;
    top: 35%;
}
.image3 img {height:300px; width:auto}
.box .box-content .box-product ul li:hover .quick-view-button {
    display: block;
}
#payment, .payment {
	padding:10px;	
}
.addthis_button_tweet.at300b {margin-left:-15px;}