/********************************************************************************************************************************************************************************/
/* menu */
#menu {
	width:1022px;
	margin:0 auto 10px;
	background:url(../images/menu.png) repeat-x left top #f4f4f4;
	box-shadow:3px 2px 6px rgba(0,0,0,0.09);
	border-radius:5px
	}
#menu>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
	}
#menu > ul > li:first-child a {border-radius:5px 0 0 5px}
#menu > ul > li {
	float: left;
	z-index: 10;
	position:relative;
	background:url(../images/separator.png) no-repeat right center;
	
}
#menu > ul > li > a {
	font-family: 'Open Sans', sans-serif;
	display:block;
	z-index: 1;
	position: relative;
	font-size:12px;
	color:#999999;
	font-weight:600;
	text-decoration:none;
	text-transform:uppercase;
	margin-right:2px;
	line-height:19px;
	padding:16px 24px;
	}
#menu > ul > li > a:hover, #menu > ul > li.sfHover > a, #menu > ul > li.active > a   {
	background:url(../images/menu-hover.png) repeat-x left top #ececec;
	}
#menu > ul > li  ul {
	display: none;
	position: absolute; 
	z-index: 99;
	background:url(../images/menu-ul-bg.png) repeat-x left top #f0f0f0; 
	border:2px solid #f6f6f6;
	left:0px;
	top:51px;
	width:196px;
	margin:0 !important;
	padding:1px 1px; 
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li ul + ul {
	padding-left: 0px;
	min-height:162px;
}
#menu > ul  li.last { }
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding:0px 0px 0px 0px;
	color: #b1b1b1;
	display: block;
	white-space: nowrap;
}
#menu > ul > li ul > li.last > a{ }
#menu > ul > li ul > li > a:hover, #menu > ul > li ul > li.active > a, #menu > ul > li ul > li.sfHover > a {
	color:#73d612;
	
}
#menu > ul > li > ul >  li:hover, #menu > ul > li > ul > li.active {
	color:#73d612; 
	}
#menu > ul > li > ul  li:first-child {border-top:0px;}
#menu > ul > li > ul  li { 
	position:relative;
	padding:6px 20px;
	border-top:1px solid #f4f4f4;
	position:relative;
	}
#menu > ul > li .sf-sub-indicator {display:none;}
#menu > ul > li li .sf-sub-indicator {
	display:block;
	background:url(../images/marker-1.png) no-repeat 0 0px;
	width:4px;
	height:7px;
	position:absolute;
	right:10px;
	top:11px;
	text-indent:-9999px
	}
#menu > ul > li > ul > li  a {
	color: #b1b1b1;
	font-size:12px;
	text-transform:none;
	line-height:18px;
	text-align:left;
	display:block;
	
	
}
#menu ul > li ul ul  { 
	position:absolute;
	left:197px;
	top:-2px;
	

}

#menu ul > ul > li ul li a:hover, #menu > ul > li > ul > li a.active { 
	color:#999999; 
	}
